@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


.bg-color {
    background-color: rgb(30, 113, 225) !important;
}

.Roboto {
    font-family: "Roboto", serif;
}

.poppins {
    font-family: Poppins;
}

.chatapp {
    font-size: 26px;
    line-height: 30.16px;
}

button[aria-expanded="false"] span.lines {
    display: block !important;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%2833, 37, 41, 0.75%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    width: 1.5rem;
    height: 1.5rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}

button[aria-expanded="false"] span.cross {
    display: none !important;
    width: 1.5rem;
    height: 1.5rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}

img[ alt="cross"]
{
    mix-blend-mode: multiply !important;
}

li {
    padding-left: 25px;
    padding-top: 20px;
    font-size: 14px;
    font-weight: 500;
    line-height: 16.41px;
}

a:hover {
    color: goldenrod !important;
}

.btn-tryit {
    background-color: rgb(75, 141, 255);
    border: 1px solid rgb(75, 141, 255);
    padding: 13px 24px !important;
    border-radius: 30px;
    transition: 1s;
}

.btn-tryit:hover {
    background-color: white;
    color: goldenrod !important;
}

.haveyou {
    font-size: 75px;
    font-weight: 600;
    line-height: 96.3px;
    letter-spacing: -0.02em;
}

.fast {
    font-size: 21px;
    font-weight: 400;
    line-height: 24.61px;
}

.btn,
.btn-demo {
    padding: 8px 35px !important;
    border-radius: 30px !important;
    transition: 1s !important;
}

.btn:hover {
    border-radius: 7px !important;
    background-color: white !important;
    color: goldenrod !important;
}

.btn-try {
    padding: 8px 35px !important;
    border-radius: 30px !important;
    border: 1px solid rgb(75, 141, 255);
    transition: 1s !important;
}

.btn-try:hover {
    border: 1px solid rgb(75, 141, 255);
    background-color: white !important;
    border-radius: 7px !important;
    color: goldenrod !important;
}

.btn-demo:hover {
    border-radius: 7px !important;
    color: goldenrod !important;
}

.mt-100 {
    margin-top: 100px !important;
}

.lorem-ipsum {
    max-width: 566px;
    margin-left: auto;
    margin-right: auto;
    color: rgb(107, 114, 120);
    font-size: 18px;
    font-weight: 400;
    line-height: 29.11px;
}

.Instant-team {
    font-size: 45px;
    font-weight: 500;
    line-height: 57.78px;
}

.pt-30 {
    padding-top: 88px !important;
}

.mb-80 {
    margin-bottom: 100px !important;
}

.mt-40px {
    margin-top: 100px !important;
}

.bg-light {
    background-color: rgb(232, 249, 255);
    width: 100%;
    height: 100%;
}

.perfect-solution {
    font-size: 45px;
    font-weight: 500;
    line-height: 57.78px;
}

.pricing-plans {
    color: rgba(43, 53, 62, 0.7);
    font-size: 21px;
    font-weight: 400;
    line-height: 33.96px;
    margin-bottom: 0px !important;
}

img[alt="grey-img"] {
    top: 366px;
    left: 13px;
}

.last-text {
    color: rgb(100, 109, 120);
    max-width: 274px;
    font-size: 18px;
    font-weight: 400;
    line-height: 29.11px;
    top: 86px;
    left: 180px;
}

img[alt="star"] {
    top: 90px;
    left: 3%;
}

li {
    padding-bottom: 5px !important;
    list-style: none !important;
}

a,
.copyright {
    text-decoration: none !important;
    color: rgb(131, 139, 149) !important;
}

.last-team {
    font-size: 15px;
    font-weight: 400;
    line-height: 24.25px;
    color: rgb(131, 139, 149) !important;
    padding-top: 11px;
}

.mb {
    margin-bottom: 158px;
}

.mt-94 {
    margin-top: 94px;
}

.mb-50 {
    margin-bottom: 50px;
}

.chat-app {
    font-size: 26px;
    line-height: 30.16px;
    letter-spacing: -0.02em;
    padding-top: 22px;
}

.li-span {
    font-size: 18px;
    font-weight: 400;
    line-height: 29.11px;
}

.justify-space-between {
    justify-content: space-between;
}

.navbar {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
}

@media (min-width:992px) {
    img[alt="overflow"] {
        display: none !important;
    }

    .section-3::after {
        content: "";
        position: absolute;
        width: 50%;
        left: 0px;
        height: 80%;
        background-image: url(../image/section-3-img.png);
        background-repeat: no-repeat;
        background-size: cover;

    }
}

@media (max-width:1399.98px) {
    .footer li {
        padding-left: 0px !important;
    }
}

@media (max-width:574.98px) {
        .ms-5{
       margin-left: 0px !important;
    }

        .btn{
            padding: 10px 20px !important;
        }
}